:root {
    --colorLime: hsl(61, 70%, 52%);
    --colorRed: hsl(4, 69%, 50%);
    --colorWhite: hsl(0, 0%, 100%);
    --Slate100: hsl(202, 86%, 94%);
    --Slate300: hsl(203, 41%, 72%);
    --Slate500: hsl(200, 26%, 54%);
    --Slate700: hsl(200, 24%, 40%);
    --Slate900: hsl(202, 55%, 16%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.plus-jakarta-sans-500 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.plus-jakarta-sans-700 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: var(--Slate100);
    margin: auto;
    padding: 10em;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background-color: var(--colorWhite);
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--colorWhite);
    width: 35em;
    height: 37em;
    margin: auto;
    padding: 3em;
    border-radius: 30px 0px 30px 30px;
}

h1 {
    color: var(--Slate900);
    font-size: 25px;
}

.limpiar {
    border: none;
    background-color: white;
    margin: 0;
    color: var(--Slate500);
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}

.centro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.1em;
    margin-bottom: 2em;
}

h3 {
    color: var(--Slate500);
    font-size: 16px;
    margin-top: 0em;
    margin-bottom: 0.7em;
}

.mortgage-amount-container {
    position: relative;
    margin: 0;
}

.mortgage-amount {
    cursor: pointer;
    width: 100%;
    display: block;
    padding-right: 4em;
    padding: 0.5em 3em 0.5em 3em;
    font-size: 20px;
    border: 1px solid var(--Slate500);
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    background-color: var(--colorWhite);
}

.mortgage-amount-container::before {
    font-family: "Plus Jakarta Sans", sans-serif;
    content: "£";
    font-weight: bold;
    position: absolute;
    left: 0.1em;
    top: 0.1em;
    bottom: 0.1em;
    width: 3em;
    background-color: var(--Slate100);
    border-radius: 4px 0 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Slate500);
    font-size: 16px;
}

h4 {
    color: var(--Slate500);
    font-size: 16px;
    margin-top: 1.2em;
    margin-bottom: 0.9em;
}

.container {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    gap: 2em;
    box-shadow: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

h5 {
    color: var(--Slate500);
    font-size: 16px;
    margin-top: 1.2em;
    margin-bottom: 0.9em;
}


.mortgage-term-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.mortgage-term {
    cursor: pointer;
    padding-right: 4em;
    width: 100%;
    padding: 0.5em 2em 0.5em 1em;
    font-size: 20px;
    border: 1px solid var(--Slate500);
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    background-color: var(--colorWhite);
}

.mortgage-term-container::after {
    content: "years";
    position: absolute;
    right: 0.1em;
    top: 0.1em;
    bottom: 0.1em;
    width: 2.5em;
    display: flex;
    align-items: center;
    padding: 0 1em;
    font-weight: bold;
    font-size: 1em;
    color: var(--Slate500);
    background-color: var(--Slate100);
}

.interest-rate-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.interest-rate {
    cursor: pointer;
    padding-right: 4em;
    width: 100%;
    padding: 0.5em 2em 0.5em 1em;
    font-size: 20px;
    border: 1px solid var(--Slate500);
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    background-color: var(--colorWhite);
}

.interest-rate-container::after {
    content: "%";
    position: absolute;
    right: 0.1em;
    top: 0.1em;
    bottom: 0.1em;
    width: 1em;
    display: flex;
    align-items: center;
    padding: 0 1em;
    font-weight: bold;
    font-size: 1em;
    color: var(--Slate500);
    background-color: var(--Slate100);
}

.espacio-bottom {
    display: flex;
}

h6 {
    color: var(--Slate500);
    font-size: 16px;
    margin-top: 1.2em;
    margin-bottom: 0.9em;
}

.repayment,
.interest-only {
    margin-top: 0.7em;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5em 1em;
    font-size: 20px;
    border: 1px solid var(--Slate700);
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--colorWhite);
    color: var(--Slate900);
    transition: all 0.3s ease;
    border-color: var(--Slate700);
}

.repayment::before,
.interest-only::before {
    content: '';
    width: 1em;
    height: 1em;
    border: 1px solid var(--Slate700);
    border-radius: 50%;
    margin-right: 0.75em;
    transition: all 0.3s ease;
    border-color: var(--Slate700);;
}

.repayment:hover,
.interest-only:hover {
    border-color: var(--colorLime);
}

.repayment:hover::before,
.interest-only:hover::before {
    border-color: var(--colorLime);
}

.repayment.selected,
.interest-only.selected {
    background-color: #ffffdc;
    border-color: var(--colorLime);
}

.repayment.selected::before,
.interest-only.selected::before {
    border-color: var(--colorLime);
    background-color: var(--colorLime);
    box-shadow: inset 0 0 0 0.19em #ffffdc;
}

/*
.repayment {
    cursor: pointer;
    display: flex;
    align-content: center;
    width: 100%;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 20px;
    border: 1px solid var(--Slate700);
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--colorWhite);
    color: var(--Slate900);
}

.interest-only {
    cursor: pointer;
    align-content: center;
    display: flex;
    margin-top: 0.8em;
    width: 100%;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 20px;
    border: 1px solid var(--Slate700);
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--colorWhite);
    color: var(--Slate900);
}

.repayment::before,
.interest-only::before {
    cursor: pointer;
    gap: 1em;
    content: '';
    width: 1em;
    height: 1em;
    border: 1px solid var(--Slate900);
    border-radius: 50%;
    margin-right: 0.75em;
    left: 1em;
}
*/
.repayment:active,
.interest-only:active {
    border-color: var(--colorLime);
}

.calculate {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.8em;
    width: 18em;
    padding: 0.5em;
    text-align: center;
    font-size: 20px;
    background-color: var(--colorLime);
    border-radius: 20px;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--Slate900);
    cursor: pointer;
    border: none;
    outline: none;
}

.repayment.selected,
.interest-only.selected {
    border-color: var(--colorLime);
}

.repayment.selected::before,
.interest-only.selected::before {
    background-color: yellow;
}

.icon {
    margin-right: 0.7em;
    height: 1.4em;
    display: inline-block;
    vertical-align: middle;
}

.calculadora {
    width: 20em;
    height: 20em;
    margin-top: 3em;
    align-self: center;
}

.result {
    color: var(--colorWhite);
    font-weight: bold;
    font-size: 2em;
}

.preresultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--Slate900);
    text-align: center;
    margin-top: 2em;
    width: 35em;
    height: 37em;
    margin: auto;
    padding: 3em;
    border-radius: 0em 1.5em 1.5em 6.25em;
    position: relative;
    overflow: hidden;
}

.requisito {
    color: var(--Slate100);
    text-decoration: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    opacity: 50%;
    margin-top: 1.5em;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

.error-message.visible {
    display: block;
}

input.error {
    border: 1px solid red !important;
}

.mortgage-type-container.error .repayment,
.mortgage-type-container.error .interest-only {
    border-color: none;
}

.mortgage-amount-container.error::before,
.mortgage-term-container.error::after,
.interest-rate-container.error::after {
    background-color: var(--colorRed);
    color: var(--colorWhite);
}

.mortgage-amount-container.error .mortgage-amount,
.mortgage-term-container.error .mortgage-term,
.interest-rate-container.error .interest-rate {
    border-color: var(--colorRed);
}

.error .error-message {
    display: block;
}

.mortgage-type-container .error-message {
    color: var(--colorRed);
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

.mortgage-type-container.error .error-message {
    display: block;
}

.mortgage-type-container.error {
    border: none; 
}

.repayment:hover{
    border-color: #F0E68C;
}

.calculate:hover{
    background-color:#F0E68C;
}

.limpiar:hover {
    color: var(--Slate700);
}

.mortgage-amount-container:hover::before,
.mortgage-term-container:hover::after,
.interest-rate-container:hover::after {
    background-color: var(--colorLime); 
    cursor: pointer;
    border-color: var(--colorLime);
}

.mortgage-amount:hover,
.mortgage-term:hover,
.interest-rate:hover {
    border-color: var(--colorLime);
}

.repayment,
.interest-only {
    transition: background-color 0.3s ease;
}

.repayment.selected,
.interest-only.selected {
    background-color: #ffffdc;
}

.resultados-llenos {
    background-color: var(--Slate900);
    border-radius: 0em 1.5em 1.5em 6.25em;
    width: 35em;
    height: 37em;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.h8 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 0.5em;
}

.parrafo {
    font-size: 21px;
    margin-bottom: 2em;
    color: var(--Slate300);
    text-align: justify;
    line-height: 1.5;
}

.caja-resultados {
    border-top: 0.3em solid var(--colorLime);
    background-color: rgba(14,36,49,255);
    padding: 1.5em;
    border-radius: 10px;
    margin-top: 1em;
}

.pagos-mensuales {
    margin-top: 1em; 
    margin-bottom: 1.5em; 
    padding-bottom: 1.5em;
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}

.pagos-mensuales,
.pagos-totales {
    font-size: 16px;
    color: var(--Slate300);
    display: block;
}

.h9,
.h10 {
    font-size: 16px;
    color: #a3b3c6;
    display: block;
    margin-bottom: 0.5em;
}

.cantidad {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 0;
}

.cantidad-mensual {
    font-size: 50px;
    font-weight: bold;
    color: var(--colorLime);
    margin:0;
}

.preresultado {
    text-align: center;
}

.preresultado img {
    margin-bottom: 2em;
    width: 15em;
    height: auto;
}

.preresultado .h7 {
    font-size: 28px;
    margin-bottom: 1em;
    display: block;
}

.preresultado .requisito {
    font-size: 16px;
    color: var(--Slate300);
}


@media (max-width: 915px) {
    body {
        padding: 1em;
        background-color: var(--colorWhite);
    }

    .container {
        flex-direction: column;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }

    .principal {
        width: 100%;
        height: auto;
        padding: 0;
        border-radius: 0;
    }

    .centro {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5em;
        align-self: flex-start;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
        color: var(--Slate900);
    }

    .limpiar {
        font-size: 0.875em;
        margin-top: 1em;
        padding-left: 0;
        background: none;
        align-self: flex-start;
        border: none;
        color: var(--Slate500);
        text-decoration: none;
        cursor: pointer;
    }

    h3, h4, h5, h6 {
        font-size: 0.875em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        color: var(--Slate700);
    }

    .mortgage-amount-container,
    .mortgage-term-container {
        position: relative;
    }

    .interest-rate-container {
        margin-top:0;
    }
    .mortgage-amount,
    .mortgage-term,
    .interest-rate {
        width: 100%;
        font-size: 1em;
        padding: 0.75em 3em 0.75em 3em;
        border: 1px solid var(--Slate300);
        border-radius: 0.25em;
        background-color: var(--colorWhite);
    }

    .mortgage-amount-container::before,
    .mortgage-term-container::after,
    .interest-rate-container::after {
        position: absolute;
        top: 1px;
        bottom: 1px;
        width: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--Slate100);
        color: var(--Slate700);
        font-size: 0.875em;
    }

    .mortgage-amount-container::before {
        content: "£";
        left: 1px;
        border-radius: 0.25em 0 0 0.25em;
    }

    .mortgage-term-container::after {
        content: "years";
        right: 1px;
        border-radius: 0 0.25em 0.25em 0;
    }

    .interest-rate-container::after {
        content: "%";
        right: 1px;
        border-radius: 0 0.25em 0.25em 0;
    }

    .mortgage-type-container {
        display: flex;
        flex-direction: column;
        gap: 0.75em;
    }

    .repayment,
    .interest-only {
        width: 100%;
        font-size: 1em;
        margin-top: 0.3em;
        padding: 0.75em 1em;
        border: 1px solid var(--Slate300);
        border-radius: 0.25em;
        background-color: var(--colorWhite);
        display: flex;
        align-items: center;
    }

    .repayment::before,
    .interest-only::before {
        content: '';
        width: 1.25em;
        height: 1.25em;
        border: 1px solid var(--Slate300);
        border-radius: 50%;
        margin-right: 0.75em;
    }

    .calculate {
        width: 100%;
        margin-top: 1.3em;
        padding: 0.9em;
        font-size: 1em;
        border-radius: 2em;
        background-color: var(--colorLime);
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        color: var(--Slate900);
        font-weight: bold;
    }

    .icon {
        margin-right: 0.5em;
    }

    .resultados {
        width: 100%;
        margin-top: 1em;
    }

    .preresultado {
        width: 100%;
        height: auto;
        padding: 2em 1.5em;
        border-radius: 0;
        background-color: var(--Slate900);
        color: var(--colorWhite);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .calculadora {
        width: 40%;
        max-width: 120px;
        margin-bottom: 1em;
    }

    .result {
        font-size: 1.2em;
        margin-bottom: 0.5em;
        color: var(--colorWhite);
    }

    .requisito {
        font-size: 0.9em;
        color: var(--Slate300);
        margin-top: 0.5em;
        max-width: 80%;
        line-height: 1.4;
    }
}
